body {
  height: 100%;
  width: 100%;
  background-color: darkseagreen;
  margin: 0%;
  padding: 0%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.form {
  background-color: white;
  margin: auto;
  padding: 20px;
  height: auto;
  width: 350px;
  border-radius: 25px;
  margin-top: 50px;
}

.input {
  width: 95%;
  height: 40px;
  /* border-radius: 20px; */
  border: 0px #d4f1f9;
  background-color: #d4f1f9;
  padding: 8px;
  margin: 10px 0px;
  font-size: 18px;
}

#submit,
#submit1 {
  height: 50px;
  width: 50%;
  background-color: blue;
  border: 0px solid blue;
  border-radius: 20px;
  color: white;
  font-size: 20px;
}

/* Table css */

table {
  background-color: white;
  margin: auto;
  padding: 20px;
  height: auto;
  width: 1200px;
  /* margin-top: 50px; */
  margin-bottom: 20px;
}

th,
td {
  width: 1100px;
  text-align: center;
  padding: 5px;
  margin: 10px;
}
tbody,
thead {
  border: none;
}

#tags {
  margin: auto;
  height: auto;
  width: 250px;
  background-color: coral;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
}

#sbtn,
#add-tag,
#remove-tag {
  width: 32%;
  height: 40px;
  background-color: blue;
  color: white;
  font-size: 16px;
  margin-top: 5px;
  border: 0px solid blue;
  border-radius: 5px;
}

#ptag {
  width: 95%;
  height: 40px;
  background-color: rgb(0, 93, 0);
  color: white;
  font-size: 16px;
  margin-top: 5px;
}
